<% if user_signed_in? %>
<%= button_to "New Post", new_post_url, method: :get %>
  <%= button_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
  <%= button_to "Sign Up",  new_user_registration_path , method: :get %>
  <%= button_to "Log In",  new_user_session_path , method: :get %>
<% end %>
<ul>
  <% @posts.each do |post| %>
  <li>
    <%= post.title %> by 
    <% if user_signed_in? %>
    <%= post.user.username %>
    <% else %>
    User <%=post.user_id %>
    <% end %>
    <ul>
      <li>
        <%= post.body%>
      </li>
    </ul>
  </li>
  <% end %>
</ul>